playground/statemachine/transaction_flow.asl.json
{
    "Comment": "hey state machine demo",
    "StartAt": "Hey",
    "States": {
        "Hey": {
            "Type": "Task",
            "Resource": "${HeyFunctionArn}",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 15,
                    "MaxAttempts": 1,
                    "BackoffRate": 1.5
                }
            ],
            "Next": "Is it odd?"
        },
        "Is it odd?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.odd",
                    "BooleanEquals": true,
                    "Next": "Odd"
                }
            ],
            "Default": "Even"

        },
         "Odd": {
            "Type": "Task",
            "Resource": "${OddFunctionArn}",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 15,
                    "MaxAttempts": 1,
                    "BackoffRate": 1.5
                }
            ],
            "End": true
        },
        "Even":{
            "Type": "Task",
            "Resource": "${EvenFunctionArn}",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 15,
                    "MaxAttempts": 1,
                    "BackoffRate": 1.5
                }
            ],
            "End": true
        }
    }
    
}